In [2]:
'''
Author: Esli Marques Florêncio Araújo
Create Date: 25/11/2020
Obejtivo: Criar um dicionário de palavras contidas em documentos
Melhorias Futuras: Tornar incremental, ler apenas palavras de documentos novos no diretorio
                    e incrementar as palavras novas destes documentos no dicionário existente
'''

'\nAuthor: Esli Marques Florêncio Araújo\nCreate Date: 25/11/2020\nObejtivo: Criar um dicionário de palavras contidas em documentos\nMelhorias Futuras: Tornar incremental, ler apenas palavras de documentos novos no diretorio\n                    e incrementar as palavras novas destes documentos no dicionário existente\n'

In [3]:
from collections import Counter
import re
import os,sys
import pandas as pd

In [4]:
user_path = os.environ.get('USERPROFILE')
path_dir = user_path+'\\Documents\\Consultoria\\dataset'

# 1st approach

In [249]:
#for filename in os.listdir(path_dir):
#    #print(filename)    
#    filepath = path_dir+'\\'+filename
#    #print(filepath)
#    f = open(filepath, 'r')
#    lines = f.read()
#    print(lines[10:100])

# 2nd Approach

In [5]:
#wordcounts = Counter()
singlewords = pd.DataFrame([''],columns=['c1'])

In [6]:
#dic_words

                 c1  word_id
0            aachen        0
1               aah        1
2            aahmes        2
3          aanaware        3
4            aaraaf        4
5          aarenias        5
6             aaron        6
7            aarons        7
8               aba        8
9             aback        9
10           abacus       10
11          abaddon       11
12            abaft       12
13            abana       13
14          abandon       14
15        abandoned       15
16       abandoning       16
17      abandonment       17
18         abandons       18
19           abaout       19
20             abas       20
21            abase       21
22           abased       22
23        abasement       23
24            abash       24
25          abashed       25
26          abashes       26
27            abate       27
28           abated       28
29        abatement       29
...             ...      ...
89318       zugagib    89318
89319       zugakib    89319
89320          zuka    89320
89321         zukak    89321
89322         zukka    89322
89323       zuleika    89323
89324          zulu    89324
89325           zum    89325
89326     zumarraga    89326
89327         zunge    89327
89328           zur    89328
89329        zurich    89329
89330      zusammen    89330
89331      zustande    89331
89332       zutphen    89332
89333      zwaggerd    89333
89334          zwei    89334
89335        zweite    89335
89336       zwickau    89336
89337       zwingle    89337
89338      zwingles    89338
89339       zwingli    89339
89340     zwinglian    89340
89341  zwinglianism    89341
89342    zwinglians    89342
89343      zwinglii    89343
89344    zygaenidae    89344
89345       zygomas    89345
89346           zzp    89346
89347           NaN    89347

[89348 rows x 2 columns]

In [6]:
for filename in os.listdir(path_dir):
    #print(filename)    
    filepath = path_dir+'\\'+filename   
    with open(filepath) as fp:
        text = fp.read().lower()
        #print(text[10:100])
        words = re.split(r"\W+", text) 
        #print(type(words))
        df = pd.DataFrame(words, columns=['c1']) 
        singlewords = singlewords.append(df)
        
#         #wordcounts.update(set(words))
#         #print(wordcounts)
#         singlewords = singlewords.append(df, ignore_index=True)

In [7]:

'''
#Extrair apenas palavras
#Remove caracteres especiais que passaram
#Ordena rows
#Remove rows com menos de 3 letras (stop words)
#Remove duplicados
#Remove nullos
#Ordena rows
#Cria coluna Id
'''
        
#Extrair apenas palavras
singlewords['c1'] = singlewords['c1'].str.extract('([aA-zZ]+)', expand=False)

#singlewords['c1'] = singlewords.c1.replace('[^aA-zZ]', '', regex=True)
#singlewords['c1'] = re.sub(r'[^aA-zZ]','',singlewords['c1'].str)
#singlewords['c1'] = singlewords['c1'].str.replace('_', '')

#Remove caracteres especiais que passaram
singlewords['c1'] = singlewords['c1'].replace(to_replace=r'[_()]', value='', regex=True)
#Ordena rows
singlewords = singlewords.sort_values(by='c1').reset_index(drop=True)
#Remove rows com menos de 3 letras
singlewords['c1'] = singlewords[singlewords['c1'].str.len()>2]
#Remove duplicados
singlewords = singlewords.drop_duplicates(subset=['c1'])
#Remove nullos
singlewords['c1'] = singlewords.dropna()
#Ordena rows
singlewords = singlewords.sort_values(by='c1').reset_index(drop=True)
#Cria coluna Id
singlewords['word_id'] = singlewords.index

#print(singlewords)
singlewords.to_csv(path_or_buf=user_path+'\\Documents\\Consultoria\\word_dic.csv',
                    index=False, sep=';')